{
  "extends": [
    "airbnb/base"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "document": true,
    "window": true,
    "event": true
  },
  "rules":{
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "no-param-reassign": 0,
    "no-mixed-operators": 0,
    "max-len": 0,
    "no-continue": 0,
    "no-undef": ["error", { "typeof": true }],
    "no-restricted-properties": 0
  }
}